[client]
port = DATABASE_PORT
socket = "OH_PATH_SUBSTITUTE/TMP_DIR/mysql.sock"  

[mysqld] 
port = DATABASE_PORT 
bind-address = DATABASE_SERVER
socket = "OH_PATH_SUBSTITUTE/TMP_DIR/mysql.sock"
pid-file = "OH_PATH_SUBSTITUTE/TMP_DIR/mysql.pid"
basedir = "OH_PATH_SUBSTITUTE/MYSQL_DISTRO"  
tmpdir = "OH_PATH_SUBSTITUTE/TMP_DIR"  
datadir = "OH_PATH_SUBSTITUTE/DATA_DIR" 
general_log_file = "OH_PATH_SUBSTITUTE/LOG_DIR/mysql.log"
slow_query_log_file = "OH_PATH_SUBSTITUTE/LOG_DIR/mysql-slow-query.log"
log-error = "OH_PATH_SUBSTITUTE/LOG_DIR/mysql.err.log"


sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
max_allowed_packet = DICOM_SIZE
skip-external-locking 
key_buffer_size = 16M
thread_cache_size = 64
lower_case_table_names = 1
table_open_cache = 64
tmp_table_size = 16M
read_buffer_size = 256K
read_rnd_buffer_size = 512K
join_buffer_size = 2M
sort_buffer_size = 2M 
myisam_sort_buffer_size = 8M

[mysqldump] 
quick
max_allowed_packet = 16M

[mysql] 
no-auto-rehash
## default_character_set = utf8

[isamchk] 
key_buffer = 16M 
sort_buffer_size = 16M 
read_buffer = 2M 
write_buffer = 2M 

[myisamchk] 
key_buffer = 16M
sort_buffer_size = 16M
read_buffer = 2M
write_buffer = 2M
