[submodule "core"]
	path = core
	url = https://github.com/informatici/openhospital-core
	branch = 1.9.1_hotfixes
[submodule "gui"]
	path = gui
	url = https://github.com/informatici/openhospital-gui
	branch = 1.9.1_hotfixes
[submodule "doc"]
	path = doc
	url = https://github.com/informatici/openhospital-doc
	branch = 1.9.1_hotfixes
