[submodule "core"]
	path = core
	url = https://github.com/paurav-munshi/openhospital-core
[submodule "gui"]
	path = gui
	url = https://github.com/paurav-munshi/openhospital-gui
[submodule "doc"]
	path = doc
	url = https://github.com/paurav-munshi/openhospital-doc
[submodule "api"]
	path = api
	url = https://github.com/paurav-munshi/openhospital-api
[submodule "ui"]
	path = ui
	url = https://github.com/paurav-munshi/openhospital-ui
