# This file contains OpenHospital settings
LANGUAGE=OH_SET_LANGUAGE
SINGLEUSER=yes
AUTOMATICLOT_IN=no
AUTOMATICLOT_OUT=no
AUTOMATICLOTWARD_TOWARD=no
LOTWITHCOST=yes
VISITSHEET=WardVisits
PATIENTSHEET=patient_clinical_sheet_ver3
EXAMINATIONCHART=patient_examination
OPDCHART=patient_opd_chart
ADMCHART=patient_adm_chart
DISCHART=patient_dis_chart
PATIENTBILL=PatientBill
BILLSREPORT=BillsReport
BILLSREPORTPENDING=BillsReportPending
BILLSREPORTMONTHLY=BillsReportMonthly
PHARMACEUTICALORDER=PharmaceuticalOrder
PHARMACEUTICALSTOCK=PharmaceuticalStock_ver4
PHARMACEUTICALSTOCKLOT=PharmaceuticalStock_ver5
PHARMACEUTICALAMC=PharmaceuticalAMC
PATIENTEXTENDED=yes
OPDEXTENDED=yes
MATERNITYRESTARTINJUNE=no
LABEXTENDED=yes
LABMULTIPLEINSERT=yes
INTERNALPHARMACIES=yes
MERGEFUNCTION=yes
SMSENABLED=no
INTERNALVIEWER=yes
MAINMENUALWAYSONTOP=no
RECEIPTPRINTER=yes
VIDEOMODULEENABLED=yes
PATIENTVACCINEEXTENDED=yes
ENHANCEDSEARCH=no
XMPPMODULEENABLED=no
DICOMMODULEENABLED=yes
DICOMTHUMBNAILS=yes
ALLOWPRINTOPENEDBILL=yes
ALLOWMULTIPLEOPENEDBILL=yes
PATIENTBILLGROUPED=PatientBillGrouped
PATIENTBILLSTATEMENT=PatientBillStatement
DEBUG=yes

