[client]
port = MYSQL_PORT
socket = "OH_PATH_SUBSTITUTE/var/run/mysqld/mysql.sock"  

[mysqld] 
port = MYSQL_PORT 
bind-address = localhost
socket = "OH_PATH_SUBSTITUTE/var/run/mysqld/mysql.sock"
pid-file = "OH_PATH_SUBSTITUTE/var/run/mysqld/mysql.pid"
basedir = "OH_PATH_SUBSTITUTE/MYSQL_DISTRO"  
tmpdir = "OH_PATH_SUBSTITUTE/tmp"  
datadir = "OH_PATH_SUBSTITUTE/var/lib/mysql" 
general_log_file = "OH_PATH_SUBSTITUTE/var/log/mysql/mysql.log"
slow_query_log_file = "OH_PATH_SUBSTITUTE/var/log/mysql/mysql-slow-query.log"
log-error = "OH_PATH_SUBSTITUTE/var/log/mysql/mysql.err.log"

max_allowed_packet = DICOM_SIZE
skip-external-locking 
key_buffer_size = 16M
thread_cache_size = 64
lower_case_table_names = 1
table_open_cache = 64
tmp_table_size = 16M
read_buffer_size = 256K
read_rnd_buffer_size = 512K
join_buffer_size = 2M
sort_buffer_size = 2M 
myisam_sort_buffer_size = 8M

[mysqldump] 
quick
max_allowed_packet = 16M

[mysql] 
no-auto-rehash
## default_character_set = utf8

[isamchk] 
key_buffer = 16M 
sort_buffer_size = 16M 
read_buffer = 2M 
write_buffer = 2M 

[myisamchk] 
key_buffer = 16M
sort_buffer_size = 16M
read_buffer = 2M
write_buffer = 2M
