name: Release

on:
  pull_request:
  push:
    paths-ignore:
      - '**.md'
    tags:
      - 'v*'
      - 'develop*'      

jobs:
  build:
    # ubuntu-latest is 22.04 - Feb 2023
    runs-on: ubuntu-latest

    steps:
    - name: Setup Java JDK
      uses: actions/setup-java@v1.4.3
      with:
        java-version: 11
    
    - name: Install asciidoctor
      run: sudo gem install asciidoctor-pdf --pre
      
    - uses: actions/checkout@v2
      with:
       fetch-depth: 0

    - name: Build OH distributions
      run: make
      env:
        CI: false

    - name: Create draft release
      if: startsWith(github.ref, 'refs/tags/v')
      uses: softprops/action-gh-release@v1
      with:
        draft: true
        files: |
          OpenHospital-*.tar.gz 
          OpenHospital-*.zip
        body_path: RELEASE_NOTES.md
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y%m%d')"
        
    - name: Rename artifact
      if: startsWith(github.ref, 'refs/tags/develop')
      run: mv OpenHospital-develop-multiarch-client.zip OpenHospital-develop-multiarch-${{ steps.date.outputs.date }}.zip 
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
 
    - name: Delete last dev release
      if: startsWith(github.ref, 'refs/tags/develop')
      uses: dev-drprasad/delete-older-releases@v0.2.1
      with:
        delete_tag_pattern: develop
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              
    - name: Create dev release
      if: startsWith(github.ref, 'refs/tags/develop')
      uses: softprops/action-gh-release@v1
      with:
        name: Develop Release ${{ steps.date.outputs.date }}
        prerelease: true
        files: |
          OpenHospital-develop-multiarch-${{ steps.date.outputs.date }}.zip
          # OpenHospital-*.tar.gz 
          # OpenHospital-*.zip
        body: Development pre-release for testers
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
