name: Release

on:
  pull_request:
  push:
    paths-ignore:
      - '**.md'
    tags:
      - 'v*'

jobs:
  build:
    # ubuntu-latest is still 18.04 as of 6/2020
    runs-on: ubuntu-latest

    steps:
    - name: Setup Java JDK
      uses: actions/setup-java@v1.4.3
      with:
        java-version: 11
    
    - name: Install asciidoctor
      run: sudo gem install asciidoctor-pdf --pre
      
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Build OH distributions
      run: make
        env:
        CI: false

    - name: Create draft release
      if: startsWith(github.ref, 'refs/tags/v')
      uses: softprops/action-gh-release@v1
      with:
        draft: true
        files: ./OpenHospital-*.tar.gz ./OpenHospital-*.zip
        body_path: CHANGELOG.md
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
